{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        {{ config.title }}<span class="page-header-suffix">.</span>
    </div>
    <div class="page-subheader">
        {{ config.description }}
    </div>

    {% for social in config.extra.socials %}    
        <a href="{{ social.url }}" class="social"><img src="social_icons/{{ social.icon }}.svg" alt="{{ social.name }}"></a>
    {% endfor %}     

	<ul>
		<li>Hello</li>
		<li>Hello</li>
		<li>Hello</li>
		<li>Hello</li>
		<li>Hello</li>
		<li>Hello</li>
	</ul>
{% endblock %}
